

body{
    margin: 0;
    padding: 0;
    background-color:rgb(60, 43, 43);
    height: 5300px;
}

.header {
    padding: 20px;
    text-align: center;
    background-color:rgb(60, 43, 43);
    transition: background-color 0.5s ease; 
    height: 100%;
    position: relative;
}


.scroll-bg{
    background-color: rgb(255, 255, 255);
    width: 500px;
    padding: 70px 0;
    position: absolute;
    left: 50%; 
    top: 4%;
    transform: translateX(-50%); 
    border-left: 20px solid black;
    border: 3px rgb(0, 0, 0) solid;

}

.scroll-div{
    width: 500px;
    background-color: rgb(255, 255, 255);
    height: 600px;
}



.scroll-object{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    padding: 20px;
    margin-left: 15%;
    width: 60%;
}

.w-border {
    width: 490px;
    height: 590px;
    padding: 70px 0;
    position: fixed;
    left: 50%;
    top: 4%;
    transform: translateX(-50%);
    border: 3px solid rgb(255, 255, 255);
}



.white-text{
    padding: 70px 0;
    position: absolute;
    left: 50%; 
    top: 200%;
    transform: translateX(-50%); 
    width: 290px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}

.text2{
    padding: 70px 0;
    position: absolute;
    left: 50%; 
    top: 300%;
    transform: translateX(-50%); 
    width: 290px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}

.text3{
    padding: 70px 0;
    position: absolute;
    left: 50%; 
    top: 450%;
    transform: translateX(-50%); 
    width: 390px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    color: black;
}

.quotes{
    padding: 70px 0;
    position: absolute;
    left: 50%; 
    top: 330%;
    transform: translateX(-50%); 
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1em;
}

#love{
    position: relative;
    left: -50%;
}

#here{
    position: relative;
    right: -50%;
  
}

#afraid{
    position: relative;
    left: -30%;

}

#sleep{
    position: relative;
    right: -20%;
}



.quotes2{
    color: rgb(0, 0, 0);
    font-size: 2em;
}

#love2{
    position: absolute; 
    left: 20%;
    top: 530%;
}

#here2{
    position: absolute; 
    right: 20%;
    top: 550%;
  
}

#afraid2{
    position: absolute; 
    left: 30%;
    top: 570%;

}

#sleep2{
    position: absolute; 
    right: 35%;
    top: 590%;
    color: #000000;
    background-color: rgb(255, 236, 128);
    border-radius: 40%;
    text-align: center;
    box-shadow:
    0 0 20px 10px rgb(255, 236, 128),  
    0 0 30px 20px rgb(255, 236, 128), 
    0 0 40px 30px rgb(255, 236, 128);
}



@media screen and (max-width :500px){

    .scroll-bg{
        background-color: rgb(255, 255, 255);
        width: 250px;
        margin: 2% auto;
        padding: 20px;
        position: absolute;
        left: 50%; 
        top: 2%;
        transform: translateX(-50%); 
       border-left: 20px solid black;
       border: 2px black solid;
    
    }

    .scroll-div{
        width: 250px;
        height: 500px;
    }

    .scroll-object{
        color: rgb(0, 0, 0);
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        padding: 10px;
        margin-left: 15%;
        width: 60%;
    }

    .w-border {
        width: 280px;
        height: 390px;
        padding: 70px 0;
        position: fixed;
        left: 50%;
        top: 4%;
        transform: translateX(-50%);
        border: 3px solid rgb(255, 255, 255);
    }


    h4{
        width: 50%;
        font-size: 14px;
    }

    .white-text{
        width: 230px;
        font-size: 14px;
    }

    .text2{
        width: 230px;
        font-size: 14px;
    }
    
    .text3{
        width: 230px;
        font-size: 14px;
    }

    .quotes{
        padding: 70px 0;
        position: absolute;
        left: 50%; 
        top: 330%;
        transform: translateX(-50%); 
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-size: .8em;
    }

    #love{
        position: relative;
        left: 10%;
    }
    
    #here{
        position: relative;
        right: 10%;
      
    }
    
    #afraid{
        position: relative;
        left: 20%;
    
    }
    
    #sleep{
        position: relative;
        right: 10%;
    }


.quotes2{
    color: rgb(0, 0, 0);
    font-size: 1em;
}

#love2{
    position: absolute; 
    left: 30%;
    top: 530%;
}

#here2{
    position: absolute; 
    right: 30%;
    top: 550%;
  
}

#afraid2{
    position: absolute; 
    left: 35%;
    top: 570%;

}

#sleep2{
    position: absolute; 
    right: 35%;
    top: 590%;
    color: #000000;
    background-color: rgb(255, 236, 128);
    border-radius: 40%;
    text-align: center;
}
 

  }


